@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.link {
    text-decoration: none;
}

/* Шапка сайта, блок header */
.header {
    display: flex;
    position: relative;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #F2F2F2;
    overflow: hidden;
}

.header__link {
    color: #2F80ED;
}

.logo {
    background-image: url(../images/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 183px;
    height: 32px;
}

.logo_place_header {
    position: absolute;
    top: 30px;
    left: 64px;
    margin: auto;
    z-index: 2;
}

.header__title {
    position: absolute;
    align-self: center;
    width: 730px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    left: 64px;
    margin: 0;
}

.header__subtitle {
    position: absolute;
    width: 388px;
    left: 64px;
    bottom: 30px;
    line-height: 25px;
    font-size: 18px;
    margin: 0;
}

.header__main-illustration {
    position: absolute;
    width: 765px;
    height: 608px;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.header__square-pic {
    position: absolute;
    top: 64px;
    right: 0;
    height: 568px;
    width: 568px;
    background-color: #2F80ED;
    transform: rotate(-15deg);
    animation: rotation 20s linear infinite;
}

/* Секция, блок description */
.description {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.two-columns {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.two-columns__brief {
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    color: #2F80ED;
    font-weight: normal;
    margin: 0;
}

.two-columns__main-text {
    min-width: 784px;
    width: 80%;
}

.two-columns__paragraph {
    line-height: 34px;
    font-size: 24px;
    margin: 0;
}

.two-columns__paragraph:nth-child(2) {
    margin-top: 30px;
    margin-bottom: 30px;
}

.two-columns__span-accent {
    font-weight: bold;
}

/* Секция, блок digits */
.digits {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.section-title {
    width: 60%;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin: 0  0 20px 0;
}

.section-subtitle {
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    text-align: center;
    font-weight: normal;
    margin: 0;
}

.table {
    display: flex;
    width: 1100px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.table__cell {
    width: 250px;
    margin-top: 60px;
}

.table__heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 20px 0;
}

.table__text {
    line-height: 1.2;
    font-size: 18px;
    margin: 0 0 20px 0;
}

.table__cite {
    line-height: 1.2;
    font-size: 18px;
    margin: 0;
}

/* Секция, блок feinman */
.feinman {
    position: relative;
    height: 790px; /* ошибка? 890px? */
    background-color: #F2F2F2;
    background-image: url(../images/feinman.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 867px 637px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feinman__title {
    width: 648px;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 70px;
}

.feinman__subtitle {
    line-height: 51px;
    font-size: 36px;
    margin: 0;
}

.feinman__link {
    position: absolute;
    line-height: 51px;
    font-size: 36px;
    right: 48px;
    top: 50%;
    color: #000000;
}

/* Секция, блок kaufman */
.kaufman {
    position: relative;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    color: white;
}

.table_theme_dark {
    z-index: 1;

    margin-bottom: 90px;
}

.section-title_theme_dark {
    margin-top: 90px;
    margin-bottom: 20px;
}

.section-subtitle_theme_dark {
    font-weight: normal;
    margin: 0;
}

.table__cell_theme_dark {
    width: 200px;
    margin: 80px 0 0 0;
    z-index: 2;
}

.table__text_theme_dark {
    margin: 0;
}

.kaufman__triangle {
    position: absolute;
    width: 877px;
    height: 877px;
    top: 0;
    right: -210px;
    z-index: -1;
}

/* Подвал сайта, блок footer */
.footer {
    position: relative;
    background-color: #000000;
    min-height: 350px;
    color: white;
    display: flex;
    justify-content: center;
 }

.footer__columns {
    display: flex;
    width: 90%;
    margin-top: 60px;
    margin-bottom: 40px;
    justify-content: space-between;
}

.footer__column {
    line-height: 30px;
    font-size: 18px;
}

.footer__column_content_copyright {
    display: flex;
    flex-direction: column;
    flex-basis: 711px;
    justify-content: space-between;
}

.footer__author {
    line-height: 25px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.footer__column-heading {
    font-weight: bold;
    margin: 0 0 20px 0;
}

.logo_place_footer {
    background-image: url(../images/logo_white.svg);
    height: 35px;
}

.footer__social-icons {
    height: 16px;
    width: 16px;
}

.footer__column-links {
    margin-top: 0;
    margin-bottom: 16px;
}

.footer__column-link {
    display: block;
    color: #F2F2F2;
}

.footer__column-link:last-of-type {
    margin-bottom: 16px;
}